body {
	text-align:  ;
}

img {
	border-radius: 50%;

	max-width: 300px ;
	max-height: 400px ;
}
img:hover {
	border-radius: 10%;
}
h1:hover {
color: red 
 }
h1,h2 { 
 text-align: center; 
 }
h2:hover {
	color: blue
}
img{
	border :10px solid red;
	border-top-width: 5px;
	float: left;

}