.dienthoai{
	border:74px solid #61ff4e;
	border-top-width: 2px;
	float: left;
}
h1{
	text-align: center;
	border:10px solid #dcfb61;
}
body{
	background-color: #fda2e5
}
p{
	margin-left: 238px
}
img:hover {
	border-radius: 50%;
}