*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
}
img{
	width: 100%;
}
a{
	text-decoration: none;
}
.wrap{
	padding-top: 20px;
}
#title1{
	width: 15%;
	float: left;
}
#title2{
	width: 20%;
	float: left;
}
#title3{
	width: 65%;
	float: left;
	line-height: 75px;
	padding-left: 500px;
}
.name p{
	text-align: center;
	font-family: cursive;
	font-size: 20px;
}
.name a{
	font-size: 14px;
}
.name{
	text-align: center;
}
.before{
	width: 3px;
	height: 35px;
	background: red;
	position: absolute;
	top: 10px;
	left: 0px;
}
.after{
	width: 3px;
	height: 35px;
	background: red;
	position: absolute;
	top: 10px;
	left: 175px;
}
.title{
	position: relative;
	width: 1200px;
	margin: auto;
}
.image{
	padding-top: 90px;
	width: 1200px;
	margin: auto;
}
.img{
	width: 25%;
	float: left;
	padding-right: 20px;
	position: relative;
}
.img img{
	height:450px;
	transition: 2s;
}
.icon img{
	width: 30px;
	height: 30px;
}
.icons{
	position: absolute;
	top: 300px;
	left: 10px;
	transition: 2s;
	opacity: 0;
}
.img:hover>.icons{
	opacity: 1;
}
.img:hover img{
	opacity: 0.3;
}


