*{
	box-sizing: border-box;
	margin: auto;
}
img{
	width: 1140px;
}
a{
	font-size: 210%;
	text-decoration:none;
}

#wrap{
	width: 1140px;
	text-align: center;
}
.menu{
	border: 0px solid white;
	padding: 3%;

}
.main-menu{
	position: relative;
}
.main-menu > a:first-child {
	padding: 4px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	top: -90px;
    left:2px;
	
   
}
.main-menu > a:first-child > img {
	max-width: 160px;
	border-radius: 50%;
	
}
	
a:hover{
	color: aqua;
}
.banner{
	padding-bottom: 40px
}
.name img{
	max-width: 360px;
	max-height: 400px;
}
.name{
	display: inline;
	float: left;
	padding: 10px;
	padding-top: 100px;
	padding-bottom: 50px; 
}
p{
	font-size: 25px;
}
.ten{
	padding-bottom: 20px;
}
#top > img{
	max-width: 130px;
}
#top{
	position: fixed;
	bottom: 30px;
	right: 30px;


}