
*{
	box-sizing: border-box;

}

body
{
	margin: auto;
	max-width: 1040px;

}



.main-menu{
	display: inline;
	margin: 11.6%;
}
.main-menu a{
	padding: 40px;
	font-size: 30px;
}
.main-menu visit{
	color: black;
}

.main-menu :link{
	color: black;
}
.main-menu :hover{
	color: aqua;
}
a{
	text-decoration:none;
}
img{
	max-width: 1040px;
	padding-bottom: 3%;
}
.link{
	display: inline-block;
	padding-top: 60px
}
.link img{
	border: 0px solid white ;
	float: left;
	padding: 10px;

	}.link img:hover{
		border:20px solid white;
	}

	.link#ten 
	{
		margin: auto;
	}
	.name{
		border:0px solid white;
		float: left;

	}
	.name p 
	{
		text-align: center;
	}
	.name img
	{
		width: 520px;
		height: 350px;

	}